.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
  width:100%;
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

/* 手机端上传图片样式 */
.filePicker-image .webuploader-pick{
  width:41.6vw;
  height:26.7vw;
  background: none;
	padding: 0;
	text-align: center;
	border-radius: 3px;
}
.filePicker-image .webuploader-pick:after{
  content:'';
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:12.8vw;
  height:12.8vw;
  background-color: rgba(0,128,255,.7);
  background-size: 6.4vw auto;
  background-position: center;
  background-image: url(/static/image/uploader-camera.png);
  background-repeat: no-repeat;
  border-radius:50%;
}

/* 手机端上传文件样式 */

.filePicker-file{
  padding: 0;
}


